<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="FakeItEasy" value="https://ci.appveyor.com/nuget/FakeItEasy" />
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Compac" value="http://compac-teamservices.westus2.cloudapp.azure.com/DefaultCollection/_packaging/Compac/nuget/v3/index.json" />
    </packageSources>
</configuration>